 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
.header{
    background-color: #2D25A0;
    display: flex;
    justify-content: center;
}
.football-header{
    color:#FFFFFF;
    font-weight: bold;
    font-size: 25px;
     
    text-align: left;
    height:150px;
    width:400px;
    margin-top:70px;
}
.button{
    background-color: #E02C6D;
    padding:10px 24px;
    border-radius: 2px;
    color:#FFFFFF;
    text-decoration: none;
    font-size: 16px;
}
.football-image img{
    width:556px;
    height: 438px;
    margin-top:60px;
     
     
}
/* section starts */
section{
    margin-top:70px;
     
}
.players{
    display: grid;
    grid-template-columns: repeat(3,330px);
      
    grid-row-gap:30px;
    grid-column-gap:30px;
    justify-content: center;
     
    
     
}
.player{
    background-color: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    width: 330px;
    height: 474px;
    
    
}
.player-image img{
    width: 300px;
    height: 256px;
    padding:15px 15px 0px 15px;
}
.info{

    margin:0px 15px;
    font-weight: bold;
    font-size: 28px;
}